*{
    margin:0;
    padding: auto;
}
.centerdiv{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50px;
    text-align:center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px #dedede;
}

a:hover{
    color:crimson;
    text-decoration: brown;
    animation:cubic-bezier();
}
a:{
    transition: all 0.3s;
}
img {
    display: block;
    margin-left: auto;
    border-radius: 50%;
    margin-right: auto;
    width: 50%;
  }
}
